@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import "compass/utilities";


$highlight-color: #F7E9BA;
$light-gray: #eee;
$frame-color: #016ED3;
$transitions-duration: 250ms;

html{
  height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    border:1px solid $frame-color;
    min-height: 100%;
}

header {
    background:$frame-color;
    color:white;
    padding:12px;
    text-align:center;

    h1 {
        margin:0;
        padding:0;
        font-size:22px;
        font-weight:bold;
    }
}

.highlight {
    font-weight:bold;
    color: $frame-color;
}


.station {
    border-top:1px solid $light-gray;
    border-left:1px solid $light-gray;
    border-right:1px solid $light-gray;
    padding:12px;
    cursor:pointer;

    .station-title {
        float:left;

        .station-title-name {
            font-weight:bold;
            font-size:18px;
            max-width: 270px;
            @include ellipsis
        }

        .station-title-caption {
            color:gray;
        }
    }

    .station-data {
        float:right;
        font-size: 18px;
        margin-top:10px;
    }
}

.station:first-child {
    border-top:0;
}

.station:last-child {
    border-bottom:1px solid $light-gray;
}

.station:hover {
    background: $highlight-color;
}




.station-detail {
    h1 {
        font-weight:bold;
        font-size:24px;
        margin: 16px 0 16px 0;
        @include ellipsis;
    }

    .station-detail-data {
        margin:16px 0;
        font-size:18px;
    }
}


.back-to-list {
    padding:14px;
    background:#f6f6f6;

    a {
        color: #777;
        display:block;
        font-weight:bold;
        font-size:18px;
        text-decoration:none;
    }

    .back-to-list-icon {
        display:inline-block;
        margin-right:12px;
    }
}











.clearfix { clear:both; }




/* transitions */
.slideLeft, .slideRight {
    transition-timing-function: ease;
    transition-duration: $transitions-duration;
}

.slideLeft.ng-enter {
    transition-property: none;
    transform: translate3d(100%,0,0);
}

.slideLeft.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideLeft.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideLeft.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(-100%,0,0);
}



.slideRight.ng-enter {
    transition-property: none;
    transform: translate3d(-100%,0,0);
}

.slideRight.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideRight.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}

.slideRight.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(100%,0,0);
}

.main-view.ng-leave  { z-index:9999; }
.main-view.ng-enter  { z-index:8888; }