<header>
    <div class="container">
        <div class="button-icon pull-left glyphicon glyphicon-arrow-left" ng-click="go('/')"></div>
        <h1>Villo Bikes</h1>
    </div>
</header>

<div class="container">
    <div class="station-detail">

        <h1>{{station.stationName}}</h1>

        <a href="http://www.google.com/maps?q={{station.lat}},{{station.lng}}"><img ng-show="station" src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=290x120&maptype=roadmap
        &markers=color:red%7Clabel:%7C{{station.lat}},{{station.lng}}&sensor=false" /></a>


        <div class="station-detail-data">
            <span class="highlight">{{station.bikes}}</span> available bikes
            <br />
            {{station.docks}} available docks
        </div>

    </div>
</div>

<div class="back-to-list">
<div class="container">
    <a href="#/">&larr; &nbsp;&nbsp; Back to list</a>
    </div>
</div>